// Home page content
// -------------------------

.jumbotron {
	background: $cornell-gray;
	color: white;
	padding: 30px 15px;
	h1 {
		font-size: 40px;
		color: black;
	}
	.btn-tarr {
		font-size: 18px;
	}
}
.main-text {
	@include make-sm-column(10);
	@include make-sm-column-offset(1);
	margin-top: 2em;
	.btn-tarr {
		margin-right: 5px;
	}
	p {
		font-size: 22px;
	}
}
.front {
	.main-text {
		p {
			font-size: 28px;
		}
	}
	h1 {
		display: none;
	}
}

// BRANDING and NAV
// -------------------------
.brand {
	@include make-md-column(6);
}
.navigation {
	@include make-md-column(6);
}

// FOOTER
// -------------------------
footer {
	padding-bottom: 2em;
	p { font-size: 16px; }
}

// Skip to content link
// http://webaim.org/techniques/skipnav/
// ---------------------------------------
#skiptocontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:transparent;
	-webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.jumbotron {
		background: url("../images/2891668.jpg") no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 600px;
		color: $dark-gray;
		padding: 30px;
	}
	.front {
		.main-text {
			background: rgba(255, 255, 255, 0.3);
		}
	}
	.main-text {
		background: rgba(255, 255, 255, 0.9);
		padding: 30px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {

}