// BRANDING
// -------------------------

.navbar-brand {
	font-family: $font-family-serif;
	color: black;
	font-size: 28px;
	height: auto;
	padding: 25px 15px 5px 0;
	line-height: 1.2em;
	float: none;
	display: block;
	text-decoration: none;
}
.navbar-brand:hover {
	color: black;
}
.subtitle {
	margin: 0 0 25px 0;
	font-family: $font-family-serif;
	font-size: 16px;
}

.navbar {
	background: white;
	margin-bottom: 0;
	border-radius: 0;
	.nav {
		li {
			font-size: 18px;
			text-transform: uppercase;
			a {
				color: $dark-gray;
				text-decoration: none;
				i {
					font-size: 14px;
					color: $medium-gray;
					margin-left: 5px;
				}
			}
			a:hover {
				background-color: $light-ice-blue;

			}
		}
		li.active {
			a, a:hover {
				color: white;
				background-color: $ice-blue;
			}
		}
	}
}
.navbar-toggle {
	float: none;
	background: $light-gray;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 0;
}

// FOOTER NAV
// -------------------------

footer {
	.nav > li > a {
		padding: 0;
	}
	.nav {
		margin-bottom: 1em;
		li {
			font-size: 14px;
			margin-bottom: 0;
		}
	}
	a {
		color: $charcoal-gray;
		padding: 5px 0;
	}
	a:hover {
		background: inherit;
		color: black;
		text-decoration: underline;
	}
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.navbar-brand {
		padding-left: 15px;
	}
	.navbar {
		.nav {
			li {
				margin-left: 5px;
				float: left;
			}
		}
	}
	.navbar-collapse {
		padding-left: 0;
	}
	footer {
		.nav > li > a {
			padding: 0 10px;
			border-left: 1px solid $light-gray; 
		}
		.nav {
			li {
				float: left;
			}
			li:first-child {
				a {
					padding-left: 0;
					border-left: 0;
				}
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.navbar {
		.nav {
			float: right;
			margin-top: 1.5em;
		}
	}
}
