// Cornell brand
// -------------------------
$cornell-primary: #b31b1b;
$cornell-primary-hover: #990f26;
$cornell-font: verdana, sans-serif;
$cornell-blue: #6eb4cd;
$cornell-blue-border: #4892ac;
$cornell-medium-blue: #0068ac;
$cornell-process-blue: #0093d0;
$cornell-khaki: #998c7c;
$cornell-gray: #4d4e53;

// Other colors
// -------------------------

$dark-gray: #333;
$charcoal-gray: #666;
$medium-gray: #999;
$light-gray: #c3c3c3;
$ice-blue: #05b7c7;
$light-ice-blue: #abe4e9;
$dark-ice-blue: #049dab;


// Bootstrap overrides
// -------------------------

$font-family-sans-serif:  'Open Sans Condensed';        @import
url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);

$font-family-serif: 'Cinzel';        @import
url(http://fonts.googleapis.com/css?family=Cinzel);
